*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  font-family: var(--font-family-sans);
  background: var(--color-background-default);
  color: var(--color-text-primary);
  line-height: var(--font-line-height-base);
}

#root {
  min-height: 100vh;
}

button {
  font-family: inherit;
}
